@charset "ISO-8859-1";
.bg-image-galery {
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;	
}

.navBar{
	font-size:20px;
}



.card{
	box-shadow: 5px 5px 15px #3c3c3c;
}

.card-bg-color{
	background: #d8d8d8;
} 

div.myCard {
	background: rgba(194, 194, 194, 0.2);
}
